.sidebar{
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.7);
    padding: 1em;
    border-radius: 16px;
    height:100%;
}

.sidebarTitle{
    color: #f5f5f5;
    font-size: 1rem;
}

.sidebarButtons{
    border: 1px solid #111;
    border-radius: 10px;
    display:flex;
    width: 100%;
    height:2rem;
    justify-content:center;
}

.sidebarButton{
    all:unset;
    border-radius: 10px;
    text-align:center;
    flex:1;
    color: #f5f5f5;
}

.active{
    background-color: #f5f5f5;
    color: #333;
}


.subredditList{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-top: 1em;
}

.subreddit{
    color: white;
}