main{
    display:flex;
    justify-content: center;
    
    
}


.mainContainer{
    display:flex;
    max-width: 1400px;
    width:100%;
}
.mainContainer>*{
    border: 1px solid red;
}

.outlet{
    flex:2
}

.sidebar{
    flex:1
}