.root{
    background-image: url("../images/background.jpg");
    height:100vh;
    display:flex;
    flex-direction:column;
}

main{
    display:flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex:1;
}


.mainContainer{
    display:flex;
    max-width: 1400px;
    width:100%;
    
}

.mainContainer>*{
    padding: 1rem;
}

.outlet{
    flex:2
}

.sidebar{
    flex:1
}