main{
    display:flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}


.mainContainer{
    display:flex;
    max-width: 1400px;
    width:100%;
}
.mainContainer>*{
    border: 1px solid red;
}

.outlet{
    flex:2
}

.sidebar{
    flex:1
}